body{
    padding:0;
    margin:0;
    font-size:1em;
    line-height:2em;
}
.box{
    padding:0 10px 40px 10px;
    border:1px solid #fff;
    background:#fff;
    min-height:800px;
}
a {
    text-decoration:none;
    color:red;
}
a:hover {
    text-decoration:underline;
}
p{
    text-indent:2em;
}
pre{
    font-size:14px;
    color:yellow;
    line-height:20px;
    padding:10px;
    border-radius:6px;
    overflow:auto;
    background:#2B3A42;
}

h3{
    border-left:10px solid #2B3A42;
    font-size:2em;
    color:#000;
    padding:0 10px;
    background:rgba(0,0,0,0.1);
    display:inline-block;
}

mark{
    background:rgba(0,0,0,0.1);
    padding:4px 20px;
    font-size:16px;
}

img {
    max-width:100%;
}

.space{
    display:inline-block;
    width:40px;
}

ul,ol {
    padding-left:10px;
}
li {
    padding-bottom:20px;
}

@media (min-width: 992px){
    body{
        background:rgba(0,0,0,0.8);
    }
    .box{
        width:500px;
        margin:0 auto;
        padding:0 100px 100px 100px ;
    }
}

.menuList{
    background:rgba(0,0,0,0);
    position:fixed;

    top:0;
    overflow:hidden;
    height:40px;
}
.menuList div{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#000;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-size:11px;
}
.text-red{
    color:red;
}
